.body {
  width: 80%;
  	margin: 0 auto;
}

.topheader {
  height: 150px;
  background-position: center;
  background-size: cover;
}

.container {
	display: grid;
	grid-template-columns: 2fr 2fr;
}

 .show {
  float: right;
	width: 300px;
  padding: 10px;
}
