.body {
  width: 100%;
  	margin: 0 auto;
}

.topheader {
  height: 350px;
  background-image: url("https://s-i.huffpost.com/gen/4821250/images/n-FULL-FRIDGE-628x314.jpg");
  background-position: center;
  background-size: cover;
}

.container {
	display: grid;
	grid-template-columns: 2fr 2fr;
}

 .show {
  float: right;
	width: 300px;
  padding: 10px;
}
